In [69]:
db = ch.Clickhouse.connect(job_id = '544d8afac72e4633809a162a480ed998')

INFO:confirm.cloud.clickhouse:[worker_id=None] Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/None
INFO:confirm.cloud.clickhouse:[worker_id=None] Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/544d8afac72e4633809a162a480ed998
INFO:confirm.cloud.clickhouse:[worker_id=None] Connected to job 544d8afac72e4633809a162a480ed998

In [72]:
T = db.get_all()

In [73]:
T.loc[T['id'] == 4373889141130919936]

,id,parent_id,theta0,radii0,null_truth0,K,step_id,step_iter,creation_time,worker_id,...,B_lams2,B_lams3,B_lams4,twb_lams0,twb_lams1,twb_lams2,twb_lams3,twb_lams4,active,eligible
19,4373889141130919936,4373888591374581760,-0.25,0.25,1,8192,0,0,0.0,3,...,-1.999353,-1.939917,-1.938797,-1.951228,-1.939917,-1.965404,-1.930422,-1.95042,0,0
217,4373889141130919936,4373888591374581760,-0.75,0.25,1,8192,0,0,0.0,3,...,-1.499353,-1.439917,-1.438797,-1.451228,-1.439917,-1.465404,-1.430422,-1.45042,0,0

In [75]:
from imprint.grid import _gen_short_uuids
_gen_short_uuids(n=2, worker_id=3, t=1674261200)

DEBUG:imprint.grid:[worker_id=None] _gen_short_uuids(n=2, worker_id=3, t=1674261200, n_bits=18, worker_bits=18) = [4373889141130919936, ...]:

array([4373889141130919936, 4373889141130919937], dtype=uint64)

In [1]:
import confirm.cloud.clickhouse as ch

Adb = ch.Clickhouse.connect(job_id = '1cf6481207e54adc842def1c2bb22dc7')
Bdb = ch.Clickhouse.connect(job_id = '544d8afac72e4633809a162a480ed998')

INFO:confirm.cloud.clickhouse:[worker_id=None]
Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/None
INFO:confirm.cloud.clickhouse:[worker_id=None]
Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/1cf6481207e54adc842def1c2bb22dc7
INFO:confirm.cloud.clickhouse:[worker_id=None]
Connected to job 1cf6481207e54adc842def1c2bb22dc7
INFO:confirm.cloud.clickhouse:[worker_id=None]
Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/None
INFO:confirm.cloud.clickhouse:[worker_id=None]
Clickhouse config: default@t2n4z83v82.us-east-1.aws.clickhouse.cloud:8443/544d8afac72e4633809a162a480ed998
INFO:confirm.cloud.clickhouse:[worker_id=None]
Connected to job 544d8afac72e4633809a162a480ed998

In [66]:
_gen_short_uuids(n=2, worker_id=3, t=1674261200)

DEBUG:imprint.grid:[worker_id=None] _gen_short_uuids(n=2, worker_id=3, t=1674261200, n_bits=18, worker_bits=18) = [4373889141130919936, ...]:

array([4373889141130919936, 4373889141130919937], dtype=uint64)

In [2]:
At = Adb.get_all()
Bt = Bdb.get_all()

In [3]:
At.shape, Bt.shape

((276, 31), (276, 31))

In [4]:
import pandas as pd

drop_cols = ["id", "parent_id", "step_iter", "worker_id"]
pd.testing.assert_frame_equal(
    At.drop(drop_cols, axis=1).sort_values(['step_id', 'theta0']).reset_index(drop=True), 
    Bt.drop(drop_cols, axis=1).sort_values(['step_id', 'theta0']).reset_index(drop=True)
)

In [5]:
from IPython.display import display

In [6]:
ch._query_df(Adb.client, "select id from tiles group by id having count(*) > 1")

Empty DataFrame
Columns: [id]
Index: []

In [7]:
ch._query_df(Bdb.client, "select id from tiles group by id having count(*) > 1")

                    id
0  4373889141130919936

In [8]:
ch._query_df(Bdb.client, "select id from results group by id having count(*) > 1")

                    id
0  4373889141130919936

In [9]:
ch._query_df(Bdb.client, "select id from done group by id having count(*) > 1")

                    id
0  4373889141130919936

In [10]:
ch._query_df(Bdb.client, 'select * from done where id = 4373889141130919936')

,step_id,step_iter,id,active,query_time,worker_id,refine,deepen
0,0,0,4373889141130919936,0,1.674261e+09,3,1,0
1,0,0,4373889141130919936,0,1.674261e+09,3,0,1

In [11]:
ch._query_df(Bdb.client, 'select * from tiles where id = 4373889141130919936')

,id,active,parent_id,theta0,radii0,null_truth0,K,worker_id,step_id,step_iter,creation_time
0,4373889141130919936,1,4373888591374581760,-0.75,0.25,1,8192,0,0,0,0.0
1,4373889141130919936,1,4373888591374581760,-0.25,0.25,1,8192,0,0,0,0.0

In [13]:
ch._query_df(Bdb.client, 'select * from results where id = 4373889141130919936').columns

Index(['id', 'active', 'parent_id', 'theta0', 'radii0', 'null_truth0', 'K',
       'step_id', 'step_iter', 'creation_time', 'worker_id', 'processing_time',
       'eligible', 'grid_cost', 'impossible', 'orderer', 'alpha0',
       'twb_max_lams', 'twb_mean_lams', 'twb_min_lams', 'lams', 'B_lams0',
       'B_lams1', 'B_lams2', 'B_lams3', 'B_lams4', 'twb_lams0', 'twb_lams1',
       'twb_lams2', 'twb_lams3', 'twb_lams4'],
      dtype='object')

In [65]:
for step_id in range(14):
    AA = At.loc[At['step_id'] == step_id]
    BB = Bt.loc[Bt['step_id'] == step_id]
    print(step_id, AA.shape, BB.shape)
    if AA.shape[0] != BB.shape[0]:
        display(AA)
        display(BB)

0 (2, 31) (2, 31)
1 (3, 31) (3, 31)
2 (4, 31) (4, 31)
3 (5, 31) (5, 31)
4 (6, 31) (6, 31)
5 (7, 31) (7, 31)
6 (11, 31) (11, 31)
7 (19, 31) (19, 31)
8 (35, 31) (35, 31)
9 (60, 31) (60, 31)
10 (61, 31) (61, 31)
11 (62, 31) (62, 31)
12 (0, 31) (0, 31)
13 (0, 31) (0, 31)